# Spam Predictive Model

In [1]:
#importing the libraries
import numpy as np
import pandas as pd

In [2]:
#creating thr dataframe
df=pd.read_csv('spam.csv',encoding='latin1') # the data i have is not utf-8 encoded

In [3]:
df.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
3811,ham,Yep then is fine 7.30 or 8.30 for ice age.,NaN,NaN,NaN
5330,ham,Dude im no longer a pisces. Im an aquarius now.,NaN,NaN,NaN
1374,spam,"500 New Mobiles from 2004, MUST GO! Txt: NOKIA...",NaN,NaN,NaN
3594,ham,Huh but i cant go 2 ur house empty handed right?,NaN,NaN,NaN
5205,spam,Had your mobile 11mths ? Update for FREE to Or...,NaN,NaN,NaN

In [4]:
df.shape

(5572, 5)

project Stages

In [5]:
#1 Data Cleaning
#2 EDA
#3 Text preprocessing
#4 Model Building
#5 Evaluation
#6 Website
#8 Deployement

# 1.Data Cleaning

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [7]:
#drop last three columns
df.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'],inplace=True)

In [8]:
df.sample(10)

        v1                                                 v2
1894  spam  FreeMsg Hey U, i just got 1 of these video/pic...
3553   ham                     am up to my eyes in philosophy
291    ham  Haf u found him? I feel so stupid da v cam was...
3806   ham  Pls dont restrict her from eating anythin she ...
5128   ham  Wot about on wed nite I am 3 then but only til 9!
280    ham                             You got called a tool?
2868   ham  House-Maid is the murderer, coz the man was mu...
491   spam  Congrats! 1 year special cinema pass for 2 is ...
2213   ham  Goodmorning, today i am late for 2hrs. Because...
3431  spam  Camera - You are awarded a SiPix Digital Camer...

In [9]:
#renaming the colums
df.rename(columns={'v1':'Output','v2':'Input_Email/SMS'},inplace=True)

In [10]:
df.sample(10)

     Output                                    Input_Email/SMS
3946    ham               Sorry, went to bed early, nightnight
2743    ham  But my family not responding for anything. Now...
4147   spam  Please call Amanda with regard to renewing or ...
1033    ham  OH MR SHEFFIELD! You wanna play THAT game, oka...
5266    ham  HI DARLIN ITS KATE ARE U UP FOR DOIN SOMETHIN ...
259     ham  IÛ÷m parked next to a MINI!!!! When are you c...
1140    ham          Oh:)as usual vijay film or its different?
3903   spam  Your 2004 account for 07XXXXXXXXX shows 786 un...
2318    ham                          On the way to office da..
814    spam  U were outbid by simonwatson5120 on the Shinco...

In [11]:
#now change the label of output 
# converting spam------> 0
# ham----> 1

In [12]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

C:\Users\aayus\anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [17]:
df['Output']=encoder.fit_transform(df['Output'])

In [18]:
df.sample(10)

      Output                                    Input_Email/SMS
2580       0  U are subscribed to the best Mobile Content Se...
757        1  Faith makes things possible,Hope makes things ...
90         1  Yeah do! DonÛ÷t stand to close tho- youÛ÷ll ...
1668       1                        Yes..but they said its IT.,
600        1  Mind blastin.. No more Tsunamis will occur fro...
5503       1  Perhaps * is much easy give your account ident...
73         1         K..k:)where are you?how did you performed?
747        0  U are subscribed to the best Mobile Content Se...
904        1  We're all getting worried over here, derek and...
3999       0  This is the 2nd time we have tried to contact ...

In [19]:
df.shape

(5572, 2)

In [20]:
#checking the missing values
df.isnull().sum()

Output             0
Input_Email/SMS    0
dtype: int64

In [22]:
#now checking for the duplicates
df.duplicated().sum()

403

In [23]:
#here we have 403 duplicate entry so remove it
df.drop_duplicates(keep='first',inplace=True)

In [25]:
df.shape

(5169, 2)

# Step 2 (EDA)